.container {
  z-index: 1;
  position: relative;
}

.container .card {
  z-index: 1;
  position: relative;
  margin: 5px;
  display: inline-block;
  
}


.container .card .face {
  width: 300px;
  height: 200px;
  transition: 0.7s;
}

.container .card .face.face1 {
  position: relative;
  background: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1{
  background: aqua;
  transform: translateY(0px);
}

.container .card .face.face1 .content {
  opacity: 1;
  transition: 0.7s;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
}

.container .card .face.face1 .content i{
  max-width: 100px;
}

.container .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2{
  transform: translateY(0);
}

.container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #414141;
}

.container .card .face.face2 .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  color: #fff;
  font-size: 24px;
  text-align: center;
  color: #414141;
} 

.container a {
  text-decoration: none;
  color: #414141;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container .card .face {
    width: 250px;
    height: 180px;
    transition: 0.7s;
  }
  .container .card .face.face1 {
    position: relative;
    background: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(80px);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container .card .face {
    width: 250px;
    height: 180px;
    transition: 0.7s;
  }
  .container .card .face.face1 {
    position: relative;
    background: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(80px);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.7s;
  }
  .container .card .face.face1 {
    position: relative;
    background: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.7s;
  }
  .container .card .face.face1 {
    position: relative;
    background: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.7s;
  }
  .container .card .face.face1 {
    position: relative;
    background: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
  }
}